$floor: #999;
$wall: #333;
$enemy: red;
$health: green;
$player: blue;
$portal: purple;
$weapon: gold;

body {
  background: #000;
  color: #fff;
  font-size: 16px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.wall {
  background: $wall;
}

.stats {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    padding-right: 1.5rem;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.dark {
  background: #000;
}
.tile {
  width: 15px;
  height: 15px;
}

.wall {
  background: $wall;
}

.floor {
  background: $floor;
}

.enemy {
  background-image: url(https://res.cloudinary.com/daaer2agg/image/upload/v1539558483/enemy.png);
  background-size: cover;
}

.health {
  background-image: url(https://res.cloudinary.com/daaer2agg/image/upload/v1539557755/health.png);
  background-size: cover;
}

.player {
  background-image: url(https://res.cloudinary.com/daaer2agg/image/upload/v1539557432/cat.png);
  background-size: cover;
}

.portal {
  background-image: url(https://res.cloudinary.com/daaer2agg/image/upload/v1539558644/portal.png);
  background-size: cover;
}

.weapon {
  background-image: url(https://res.cloudinary.com/daaer2agg/image/upload/v1539558214/weapon.png);
  background-size: cover;
}
