$floor: #999;
$wall: #333;
$enemy: red;
$health: green;
$player: blue;
$portal: purple;
$weapon: gold;

body {
  background: $wall;
  color: #fff;
}

.container {

}
.flex-row {
  display: flex;
  flex-direction: row;
}
.tile {
  width: 15px;
  height: 15px;
}

.wall {
  background: $wall;
}

.room {
  background: $floor;
}

.enemy {
  background: $enemy;
}

.health {
  background: $health;
}

.player {
  background: $player;
}

.portal {
  background: $portal;
}

.weapon {
  background: $weapon;
}