$floor: #999;
$wall: #333;
$enemy: red;
$health: green;
$player: blue;
$portal: purple;
$weapon: gold;

body {
  background: $wall;
  color: #fff;
  font-size: 16px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.stats{
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    padding-right: 1.5rem;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.tile {
  width: 15px;
  height: 15px;
}

.wall {
  background: $wall;
}

.floor {
  background: $floor;
}

.enemy {
  background: $enemy;
}

.health {
  background: $health;
}

.player {
  background: $player;
}

.portal {
  background: $portal;
}

.weapon {
  background: $weapon;
}